* {
  margin-top:0;
  margin-left:0;
  margin-right:0;
}
body{
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  grid-template: 40px 80px repeat(10,1fr)/repeat(12,1fr);
}

#a {
  background-color: rgba(217,221,241,.83);
  grid-row: 1/2;
  grid-column: 1/span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.socialM {
  grid-column: 4/6;
  align-self: top;
  justify-self: center;
  padding-top: 5px;
}

#fb{margin-right: 5px;}

.old_school {
  grid-column: 11/6;
  align-self:top;
  padding-top: 5px;
  justify-self: right;
  color: black;
  filter: grayscale(100%);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { color: #1464e3;
  text-decoration: underline;}
a:active { text-decoration: none; }

nav {
  color: black;
  grid-row: 2/3;
  display: grid;
  grid-column: 1/span 12;
  grid-template-columns: repeat(12, 1fr);
}
#signature{
  grid-column: 2/3;
  align-self: center;}
#abt_me_lnk{
  grid-column: 5/6;
  color: #5e5e5e;
  align-self: center;}

#buy{
  grid-column: 7/8;
  color: #5e5e5e;
  align-self: center;}

#sell{
  grid-column: 9/10;
  color: #5e5e5e;
  align-self: center;}
#contact_me{
  grid-column: 11/12;
  color: #5e5e5e;
  align-self: center;}

#c {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid; 
  grid-row: 11/12;
}

.d {
  background: linear-gradient(to top, rgba(255,255,255,.9), rgba(255,255,255,.6)), url("https://www.dropbox.com/s/5d4dlatysyxq29j/background.jpg?raw=1");
  grid-row: 3/9;
  grid-column: 1/span 12; 
  display: flex;
  justify-content: space-between;
}

.d div{
  padding-top: 10px;
  padding-right: 20px
}

.d p{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding-left: 40px;
  width: 50%;
  height: 100%;
}

.d strong{
  grid-row: 2/3;
  align-self: center;
  font-size: 100px;
  font-family: Helvetica;
  color: rgba(31,83,160,1);
}

.d em {
  grid-row: 3/4;
  font-size: 50px;
  font-weight: normal;
  font-family: Helvetica;
  color: black;
}

#e {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid; 
  grid-row: 11/12;
}

#f {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid;
  grid-row: 11/12;
}

#g {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid; 
  grid-row: 11/12;
}

#h {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid; 
  grid-row: 11/12;
}

#i {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid;
  grid-row: 11/12; 
}

#j {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid; 
  grid-row: 11/12;
}

#k {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid; 
  grid-row: 11/12;
}

#l {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue solid; 
  grid-row: 11/12;
}